<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="app">
      <div class="gallery">
        <div
          class="item"
          data-title="1"
          data-text="Owel lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure cum, est amet delectus, blanditiis voluptatem laborum pariatur consequatur quae voluptate, nisi. Laborum adipisci iste earum distinctio, fugit, quas ipsa impedit."
        >
          <img src="./img/1.jpg" alt="" />
        </div>
        <div
          class="item"
          data-title="2"
          data-text="Owel lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure cum, est amet delectus, blanditiis voluptatem laborum pariatur consequatur quae voluptate, nisi. Laborum adipisci iste earum distinctio, fugit, quas ipsa impedit."
        >
          <img src="./img/2.jpg" alt="" />
        </div>
        <div
          class="item"
          data-title="3"
          data-text="Owel lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure cum, est amet delectus, blanditiis voluptatem laborum pariatur consequatur quae voluptate, nisi. Laborum adipisci iste earum distinctio, fugit, quas ipsa impedit."
        >
          <img src="./img/3.jpg" alt="" />
        </div>
        <div
          class="item"
          data-title="4"
          data-text="Owel lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure cum, est amet delectus, blanditiis voluptatem laborum pariatur consequatur quae voluptate, nisi. Laborum adipisci iste earum distinctio, fugit, quas ipsa impedit."
        >
          <img src="./img/4.jpg" alt="" />
        </div>
        <div
          class="item"
          data-title="5"
          data-text="Owel lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure cum, est amet delectus, blanditiis voluptatem laborum pariatur consequatur quae voluptate, nisi. Laborum adipisci iste earum distinctio, fugit, quas ipsa impedit."
        >
          <img src="./img/5.jpg" alt="" />
        </div>
        <div
          class="item"
          data-title="6"
          data-text="Owel lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure cum, est amet delectus, blanditiis voluptatem laborum pariatur consequatur quae voluptate, nisi. Laborum adipisci iste earum distinctio, fugit, quas ipsa impedit."
        >
          <img src="./img/6.jpg" alt="" />
        </div>
        <div
          class="item"
          data-title="7"
          data-text="Owel lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure cum, est amet delectus, blanditiis voluptatem laborum pariatur consequatur quae voluptate, nisi. Laborum adipisci iste earum distinctio, fugit, quas ipsa impedit."
        >
          <img src="./img/7.jpg" alt="" />
        </div>
        <div
          class="item"
          data-title="8"
          data-text="Owel lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure cum, est amet delectus, blanditiis voluptatem laborum pariatur consequatur quae voluptate, nisi. Laborum adipisci iste earum distinctio, fugit, quas ipsa impedit."
        >
          <img src="./img/8.jpg" alt="" />
        </div>
        <div
          class="item"
          data-title="9"
          data-text="Owel lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure cum, est amet delectus, blanditiis voluptatem laborum pariatur consequatur quae voluptate, nisi. Laborum adipisci iste earum distinctio, fugit, quas ipsa impedit."
        >
          <img src="./img/9.jpg" alt="" />
        </div>
        <div
          class="item"
          data-title="10"
          data-text="Owel lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure cum, est amet delectus, blanditiis voluptatem laborum pariatur consequatur quae voluptate, nisi. Laborum adipisci iste earum distinctio, fugit, quas ipsa impedit."
        >
          <img src="./img/10.jpg" alt="" />
        </div>
        <div
          class="item"
          data-title="11"
          data-text="Owel lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure cum, est amet delectus, blanditiis voluptatem laborum pariatur consequatur quae voluptate, nisi. Laborum adipisci iste earum distinctio, fugit, quas ipsa impedit."
        >
          <img src="./img/11.jpg" alt="" />
        </div>
        <div
          class="item"
          data-title="12"
          data-text="Owel lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure cum, est amet delectus, blanditiis voluptatem laborum pariatur consequatur quae voluptate, nisi. Laborum adipisci iste earum distinctio, fugit, quas ipsa impedit."
        >
          <img src="./img/12.jpg" alt="" />
        </div>
        <div
          class="item"
          data-title="13"
          data-text="Owel lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure cum, est amet delectus, blanditiis voluptatem laborum pariatur consequatur quae voluptate, nisi. Laborum adipisci iste earum distinctio, fugit, quas ipsa impedit."
        >
          <img src="./img/13.jpg" alt="" />
        </div>
        <div
          class="item"
          data-title="14"
          data-text="Owel lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure cum, est amet delectus, blanditiis voluptatem laborum pariatur consequatur quae voluptate, nisi. Laborum adipisci iste earum distinctio, fugit, quas ipsa impedit."
        >
          <img src="./img/14.jpg" alt="" />
        </div>
        <div
          class="item"
          data-title="15"
          data-text="Owel lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure cum, est amet delectus, blanditiis voluptatem laborum pariatur consequatur quae voluptate, nisi. Laborum adipisci iste earum distinctio, fugit, quas ipsa impedit."
        >
          <img src="./img/1.jpg" alt="" />
        </div>
        <div
          class="item"
          data-title="16"
          data-text="Owel lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure cum, est amet delectus, blanditiis voluptatem laborum pariatur consequatur quae voluptate, nisi. Laborum adipisci iste earum distinctio, fugit, quas ipsa impedit."
        >
          <img src="./img/2.jpg" alt="" />
        </div>
      </div>
      </div>
    </div>

    <div class="detail">
      <img />
    
      <div class="content">
        <div class="title">Placeholder title</div>
        <div class="secondary">Placeholder secondary</div>
        <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure cum, est amet delectus, blanditiis voluptatem laborum pariatur consequatur quae voluptate, nisi. Laborum adipisci iste earum distinctio, fugit, quas ipsa impedit.</div>
      </div>
    </div>
  </body>
</html>
