<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.typekit.net/udc8bgl.css" />
    <link rel="stylesheet" href="https://use.typekit.net/udc8bgl.css" />
    <title>Document</title>
  </head>

  <body>
    <main>
      <section class="title_container" id="firstHome">
        <div class="title">
          <h2 class="text_title">Issety Maurice</h2>
          <h3 class="text_subtitle">Interior Design</h3>
        </div>
        <div class="title_itemContainer">
          <a href="" class="title_item">
            <img class="imgTitle" src="./img/1.jpg" alt="" />
          </a>
          <a href="" class="title_item">
            <img class="imgTitle" src="./img/2.jpg" alt="" />
          </a>
          <a href="" class="title_item">
            <img class="imgTitle" src="./img/3.jpg" alt="" />
          </a>
          <a href="" class="title_item">
            <img class="imgTitle" src="./img/4.jpg" alt="" />
          </a>
          <a href="" class="title_item">
            <img class="imgTitle" src="./img/5.jpg" alt="" />
          </a>
          <a href="" class="title_item">
            <img class="imgTitle" src="./img/6.jpg" alt="" />
          </a>
          <a href="" class="title_item">
            <img class="imgTitle" src="./img/7.jpg" alt="" />
          </a>
          <a href="" class="title_item">
            <img class="imgTitle" src="./img/8.jpg" alt="" />
          </a>
          <a href="" class="title_item">
            <img class="imgTitle" src="./img/9.jpg" alt="" />
          </a>
          <a href="" class="title_item">
            <img class="imgTitle" src="./img/10.jpg" alt="" />
          </a>
          <a href="" class="title_item">
            <img class="imgTitle" src="./img/11.jpg" alt="" />
          </a>
          <a href="" class="title_item">
            <img class="imgTitle" src="./img/12.jpg" alt="" />
          </a>
          <a href="" class="title_item">
            <img class="imgTitle" src="./img/13.jpg" alt="" />
          </a>
          <a href="" class="title_item">
            <img class="imgTitle" src="./img/14.jpg" alt="" />
          </a>
        </div>
        <a href="#" class="button" id="button">
          Enter
          <svg width="18" height="18" viewBox="0 0 24 24">
            <path
              vector-effect="non-scaling-stroke"
              d="M18.25 15.5a.75.75 0 0 0 .75-.75v-9a.75.75 0 0 0-.75-.75h-9a.75.75 0 0 0 0 1.5h7.19L6.22 16.72a.75.75 0 1 0 1.06 1.06L17.5 7.56v7.19c0 .414.336.75.75.75z"
            ></path>
          </svg>
        </a>
      </section>
      <section class="main_container" id="lastHome">
        <div class="main_title">
          <h2 id="left">selected</h2>
          <h2 id="right">works</h2>
        </div>
        <div class="img_container">
          <div class="upper-items">
            <a href="" class="main_item" id="main_item">
              <span class="item-image" style="background-image: url(./img/1.jpg)"></span>
            </a>
            <a href="" class="main_item" id="main_item">
              <span class="item-image" style="background-image: url(./img/2.jpg)"></span>
            </a>
            <a href="" class="main_item" id="main_item">
              <span class="item-image" style="background-image: url(./img/3.jpg)"></span>
            </a>
            <a href="" class="main_item" id="main_item">
              <span class="item-image" style="background-image: url(./img/4.jpg)"></span>
            </a>
            <a href="" class="main_item" id="main_item">
              <span class="item-image" style="background-image: url(./img/5.jpg)"></span>
            </a>
            <a href="" class="main_item" id="main_item">
              <span class="item-image" style="background-image: url(./img/6.jpg)"></span>
            </a>
            <a href="" class="main_item" id="main_item">
              <span class="item-image" style="background-image: url(./img/7.jpg)"></span>
            </a>
          </div>
          <div class="below-items">
            <a href="" class="main_item" id="main_item">
              <span class="item-image" style="background-image: url(./img/8.jpg)"></span>
            </a>
            <a href="" class="main_item" id="main_item">
              <span class="item-image" style="background-image: url(./img/9.jpg)"></span>
            </a>
            <a href="" class="main_item" id="main_item">
              <span class="item-image" style="background-image: url(./img/10.jpg)"></span>
            </a>
            <a href="" class="main_item" id="main_item">
              <span class="item-image" style="background-image: url(./img/11.jpg)"></span>
            </a>
            <a href="" class="main_item" id="main_item">
              <span class="item-image" style="background-image: url(./img/12.jpg)"></span>
            </a>
            <a href="" class="main_item" id="main_item">
              <span class="item-image" style="background-image: url(./img/13.jpg)"></span>
            </a>
            <a href="" class="main_item" id="main_item">
              <span class="item-image" style="background-image: url(./img/14.jpg)"></span>
            </a>
          </div>
        </div>
        <a href="#" class="backward" id="backward"> Back </a>
      </section>
    </main>
  </body>
</html>
